
h1 {
    text-align: center;
}
.navbar, ul {
    list-style-type: none;
    background-color: hsl(352, 63%, 49%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar, a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar, a:hover {
    background-color: hsl(0, 56%, 70%);
}
.navbar li {
    float: left;
}